<% layout('layout') -%>
<div class="alert alert-success">
  <h4 class="alert-heading">Thanks! Your pickup request was received.</h4>
  <p>Ticket #<strong><%= id %></strong> created. Our team will review and confirm availability.</p>
  <a class="btn btn-secondary" href="/donate">Create another ticket</a>
</div>
